{% extends 'blog/base.html' %}

{% block title %}Блог для саду та городу с Сергієм{% endblock %}
{% block header %}Блог для саду та городу с Сергієм{% endblock %}

{% block content %}
<h2>Ласкаво просимо до мого блогу!</h2>
<p>Це мій особистий блог, де я буду ділитися публікаціями про те, як виростити сад, і цікавими фактами про різні рослини та культури. Незалежно від того, чи є ви досвідченим садівником, чи тільки починаєте, ви знайдете корисні поради та підказки, які допоможуть вам вирощувати квітучий сад.</p>
<p>Від посіву насіння до збору врожаю та всього, що відбувається між ними, я надам докладні посібники та інформацію, щоб зробити вашу подорож садівництвом приємною та успішною. Крім того, я досліджу цікаві факти про різні види рослин, їх історію та використання.</p>
<p>Стежте за регулярними оновленнями та не соромтеся ділитися власним досвідом садівництва в коментарях. Щасливого садівництва!</p>
{% endblock %}